/.idea/
/.gradle/
/neogicio/build/
/cine/build/
*.class
/src/
/cine/src/main/resources/application.properties
/negocio/src/main/resources/application.properties

/negocio/
cine/src/main/resources/application.properties
negocio/src/main/resources/application.properties

/cine/src/main/resources/application.properties
/web/src/main/resources/application.properties
