.img-icon{
    max-width: 90px;
}

.form_busqueda{
    width: 300px;
}

.titulo{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #E4E5E7;
}
.opciones_Menu{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
}

.cuerpo_pagina{
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}

.item_carrusel{
    background: #bdbdbd;
}

.imagen-pelicula{
    width: 200px;
    height: 200px ;
}

.menu_principal{
    color: #fff!important;
    background-color: #1E2747;
}


.imagen-pelicula img{
    width: 100%;
    height: auto ;
}

.div-separador{
    border-bottom: thin;
    border-top: thin;
    border-right: thin;
    border-left: thin;
}

.my-heading-row {
    background-color: var(--surface-c);
    font-weight: bold;
}